@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

.login {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
}

.logincontent {
  height: 350px;
  width: 500px;
  background: linear-gradient(to top, #33ccff 0%, #009900 100%);
  padding: 20px;
  border-radius: 30% 0 30% 30%;
  position: relative;
}

.logincontent h4 {
  color: #000000;
}

.logincontent input {
  margin: 20px;
  display: block;
  width: 50%;
  padding: 10px;
  border: 1px solid #000;
}

.user1 {
  height: 70px;
  width: 70px;
}

.close1 {
  position: absolute;
  top: -1%;
  right: -1%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.loginbtn {
  width: 100px;
  background: #ddd;
  padding: 10px 15px;
  color: #34495e;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 10px;
  text-decoration: none;
  transition: 0.4s;
}

.loginbtn:hover {
  cursor: pointer;
  background: #000;
  color: #eee;
}

.username {
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  margin: auto auto 0px 100px;
}

.pass {
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  margin: auto auto 0px 100px;
}

.pass img {
  height: 25px;
}

/* ===================== Nav bar with mega menu ================== */

nav {
  background: #CBE4DE;
  /*background: linear-gradient(to top, #33ccff 0%, #33cc33 95%);*/
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav .wrapper {
  max-width: 1300px;
  position: relative;
  margin: auto;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .wrapper .logo a {
  color: #000;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 1px;
}

nav .wrapper .nav-links {
  display: inline-flex;
}

nav .wrapper .nav-links li {
  list-style: none;
}
.nav-links a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px 25px;
  margin-right: 10px;
  transition: all 0.5s;
}

nav .wrapper .nav-links li a:hover {
  color: transparent;
  border-bottom: 1px solid #ff652f;
  transform: scale(0.9);
}

nav .wrapper .megamenu {
  position: absolute;
  top: 70px;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

nav .wrapper .nav-links li:hover .megamenu {
  opacity: 1;
  visibility: visible;
}

nav .wrapper .megamenu .content {
  background-color: #faf9f6;
  padding: 20px 10px;
  border-top: 4px solid #ff652f;
  display: flex;
  justify-content: space-between;
  width: 100% auto;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

nav .wrapper .megamenu .content .row {
  line-height: 35px;
}

nav .wrapper .megamenu .content .row .title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 3px solid #ff652f;
  width: 80%;
}
nav .wrapper .megamenu .content .row .megamenulink {
  margin-left: -40px;
}

nav .wrapper .megamenu .content .row .megamenulink li {
  padding: 0 20px;
}

nav .wrapper .megamenu .content .row .megamenulink li a {
  padding: 0 20px;
  color: #000;
  font-size: 17px;
  display: block;
}

nav .wrapper .megamenu .content .row .megamenulink li a:hover {
  color: #ff652f;
  transform: scale(0.9);
  border-bottom: 1px solid #ff652f;
}

nav .wrapper .megamenu .content .row .megamenulink li:nth-child(1) {
  margin-top: 20px;
}

nav .wrapper .megamenu .content .row .megamenulink:nth-child(1) {
  border-left: none;
}

.megamenulink img {
  height: 200px;
  padding: 20px;
  border-left: 1px solid #000;
}

.row-para {
  width: 30%;
}

.row-para h1 {
  border-bottom: 3px solid #ff652f;
}

.megamenulink p {
  font-weight: 400;
  margin: 20px auto 0 auto;
  line-height: 25px;
  text-align: justify;
}

/* ================= Search Bar =================== */
.section2 {
  height: 60vh;
  background: #0E8388;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

.header {
  position: relative;
  padding: 50px 20px;
}

.input-box {
  position: relative;
  height: 80px;
  max-width: 1100px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #000;
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 10px;
  background-color: #0E8388;
  cursor: pointer;
}

.input-box .button:hover {
  background: #0E8388;
  transition: 0.5s;
  box-shadow: 5px 5px 10px;
}
.input-box .button.clicked {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

.wrapper2 {
  margin: auto;
  padding: 10px;
  position: relative;
  overflow-x: hidden;
  max-width: 1000px;
  background: #fff;
  border-radius: 13px;
  box-shadow: inset 0 0 10px 2px #000000;
}
.wrapper2 .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.icon:first-child {
  left: 0;
  display: none;
  background: linear-gradient(90deg, #fff 70%, transparent);
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #fff 70%, transparent);
}
.icon i {
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}
.icon i:hover {
  background: #0E8388;
}
.icon:first-child i {
  margin-left: 15px;
}
.icon:last-child i {
  margin-right: 15px;
}
.wrapper2 .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
  cursor: pointer;
  font-size: 1.18rem;
  white-space: nowrap;
  background: #f5f4fd;
  padding: 13px 20px;
  border-radius: 30px;
  border: 1px solid #d8d5f2;
}
.tabs-box .tab:hover {
  background: #0E8388;
}
.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}
.tabs-box .tab.active {
  color: #000000;
  background: #CBE4DE;
  border-color: transparent;
}

/* ==================== section 3 images =============== */
.section3 {
  position: relative;
  align-items: center;
  justify-content: center;
}

.container {
  display: inline-block;
  position: relative;
  max-width: 450px;
  margin: 20px;
  border-radius: 30px;
}

.image {
  width: 430px;
  height: 380px;
  border-radius: 30px;
  opacity: 0.8;
}

.container:hover .image {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 30px;
  font-weight: 900;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.container:hover .overlay {
  opacity: 1;
}

/* ============== section 4 ============ */

.section4 {
  background: #0E8388;
  box-shadow: 0 0 20px #000;
  position: relative;
}

.slider-wrapper h1 {
  border-left: 10px solid #ff652f;
  border-left-style: groove;
  font-size: 40px;
  padding: 0 0 0 20px;
}

#slider {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  width: 100%;
  margin: auto;
}

.subcontainer {
  width: 95%;
  margin: auto;
}

.slide-img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.slide-img:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.slide-img a {
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: #eee;
}

.slide-img:hover a {
  opacity: 1;
  transform: scale(1);
}

.img-1 {
  background-image: url(img5.webp);
  width: 250px;
}
.img-2 {
  background-image: url(img2.webp);
  width: 250px;
}
.img-3 {
  background-image: url(img3.webp);
  width: 250px;
}
.img-4 {
  background-image: url(img2.webp);
  width: 250px;
}
.img-5 {
  background-image: url(img5.webp);
  width: 250px;
}

@media (max-width: 1600px) {
  .container2 {
    width: 100%;
  }
}

/* ==================== section 5 seven images =============== */

.sec5heading h1 {
  font-size: 40px;
  padding: 40px;
}

.section5 {
  background: #f1f1f1;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.sec5main {
  height: 100%;
  background: #CBE4DE;
}

.container5 {
  display: inline-block;
  position: relative;
  max-width: 100%;
  border-radius: 10px;
  margin: 16px;
}

.image5 {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  opacity: 1;
}

.container5:hover .image5 {
  opacity: 1;
}

.container5 a {
  color: #000;
  text-decoration: none;
}

.overlay5 {
  position: relative;
  bottom: 0;
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 1;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 600;
}
.overlay5:hover {
  color: #eee;
}

/* ==================== section 6 seven images =============== */

.sec6heading {
  padding: 40px;
}

.tiles6 {
  margin: auto;
  width: 100%;
  border-radius: 20px;
}

.sec6heading h1 {
  font-size: 40px;
  border-left: 10px solid #ff652f;
  border-left-style: groove;
  padding: 0 0 0 20px;
}

.section6 {
  box-shadow: 0px 0px 20px #000;
  background: #0E8388;
  min-height: 800px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.container6 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1%;
  height: auto;
  width: 100%;
}

.card__img img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.card__img h2 {
  font-size: clamp(1rem, 0.875rem + 0.625vw, 1.5rem);
  line-height: 1.3;
  font-weight: 700;
}

.card__img a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.card__img a:hover {
  color: #33cc33;
}

.container6 {
  display: grid;
  grid-template-columns: 25% 30% 15% 25%;
  gap: 15px;
  place-content: center;
  grid-template-rows: 50% 50%;
  height: 80vh;
  min-height: 460px;
  padding: max(2vh, 1.5rem);

  .card {
    border-radius: 25px;
    box-shadow: -2px 4px 15px rgb(0 0 0 / 26%);
    &:nth-child(2) {
      grid-column: 2/3;
      grid-row: span 2;
    }
    &:nth-child(3) {
      grid-column: span 2;
    }
  }
}
.card__img p {
  font-size: clamp(0.9rem, 0.875rem + 0.125vw, 1rem);
  line-height: 1.4;
}

.card__img img {
  border-radius: 25px;
}
.card__img {
  position: relative;
  height: 100%;

  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    color: #fff;
    padding: clamp(0.938rem, 5vw, 1.563rem);
    background: rgb(2, 2, 46);
    background: linear-gradient(
      0deg,
      rgb(0 0 0 / 57%) 0%,
      rgb(255 255 255 / 0%) 100%
    );
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

/* ====================== slider seven ==================== */

#slider7 {
  display: flex;
  justify-content: center;
  background: #f1f1f1;
  align-items: center;
}

.container7 {
  padding: 20px;
  background:#CBE4DE;
}

.subcontainer7 {
  width: 95%;
  margin: auto;
}

.controller {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.controller h1 {
  font-size: 40px;
  color: #000;
}

.previous,
.next {
  padding: 2px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid white;
  background-color: #1a1a1a;
  box-shadow: 0 0 5px #bbb;
}

.previous:hover,
.next:hover {
  border: 3px solid gray;
}

#controls i {
  color: white;
  font-size: 1rem;
}

.slide-img7 {
  width: 100%;
  height: 275px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.slide-img7:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.7) inset;
}

.slide-img7 a {
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}

.slide-img7:hover a {
  opacity: 1;
  transform: scale(1);
}

.img-111 {
  background-image: url(img2.webp);
  width: 250px;
}
.img-222 {
  background-image: url(img5.webp);
  width: 250px;
}
.img-333 {
  background-image: url(img3.webp);
  width: 250px;
}
.img-444 {
  background-image: url(img2.webp);
  width: 250px;
}
.img-555 {
  background-image: url(img5.webp);
  width: 250px;
}

@media (max-width: 1600px) {
  .container7 {
    width: 100%;
  }
}

/* =================================== */

.filter-bar {
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.filter-bar h2 {
  color: #000;
  margin-right: 20px auto;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.filter-bar form {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  justify-content: center;
}
.filter-bar input,
.filter-bar select,
.filter-bar button {
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}
.filter-bar input::placeholder {
  color: #000;
}
.filter-bar select {
  appearance: none;
  background: #fff;
  color: #000;
  cursor: pointer;
}
.filter-bar button {
  background-color: #e53935;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.filter-bar button:hover {
  background-color: #d32f2f;
}

/* ==========  Ticket section 4 ========= */

.events-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 20px #000;
  background: #0E8388;
  background-size: cover;
  background-position: center;
}

.events-container h1 {
  color: #000;
  margin-bottom: 20px;
  font-size: 50px;
  border-bottom: 2px solid gainsboro;
}

.events-container h1 i {
  font-size: 25px;
  color: #eee;
}

.events-container a {
  font-size: 25px;
  text-decoration: none;
  color: #eee;
}

.tktheader {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tktheader h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  font-optical-sizing: auto;
}

.filter button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.events-list .event {
  margin: auto;
  width: 80%;
  display: flex;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.date img {
  height: 50px;
  width: 50px;
}

.date img:hover {
  transition-duration: 0.4s;
  transform: scale(1.1);
}

.event .date {
  background: #f5f5f5;
  text-align: center;
  padding: 10px;
  flex: 0.5;
}

.event .details {
  flex: 2;
  padding: 10px;
}

.event .details h2 {
  margin: 0 0 5px 0;
  font-size: 20px;
}

.event .details p {
  margin: 0;
  color: #777;
}

.event .cta {
  display: flex;
  align-items: center;
  padding: 10px;
}

.event .cta button {
  background-color: #1434a4;
  color: #fff;
  border: none;
  margin-right: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.event .cta button:hover {
  color: #000;
  background-color: #33cc33;
}

/* ===================== service section ============================= */
.container-service {
  background: #CBE4DE;
  width: 100%;
  height: 80vh;
  padding: 0 8%;
}
.container-service h2 {
  text-align: center;
  padding-top: 6%;
  margin-bottom: 60px;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
}
.container-service h2::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: #2E4F4F;
  border-radius: 20px;
}
.row-service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.row-service .service {
  padding: 25px 15px;
  background: transparent;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px #000;
}
.row-service .service:hover {
  color: #ffffff;
  background-color: #2E4F4F;
  transform: scale(1.05);
}
.row-service .service i {
  color: #2E4F4F;
  margin-bottom: 20px;
  font-size: 40px;
  transition: 0.5s;
}
.row-service .service:hover i {
  color: #ffffff;
}
.row-service .service h2 {
  font-weight: 600;
  margin-bottom: 20px;
}



/* ======================== footer ======================= */

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  background-color: #2C3333;
  color: #fff;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-section a:hover {
  text-decoration: underline;
  color: #ff652f;
}

.social-icons a {
  display: inline-block;
  font-size: larger;
  color: #ff652f;
  margin-right: 10px;
}

.apps img {
  width: 120px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 10px;
}
